@import "bourbon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  color: #fff;
  & > .ember-view {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
  }
}

header, main, footer {
  display: block;
  width: 100%;
}

header, footer {
  @include flex(0 0 75px);

  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include flex-grow(1);
  .left {
    @include flex(0 0 400px);
  }
  .center {
    @include flex(1 1 100%);
  }
  .right {
    @include flex(0 0 400px);
  }
}

header {
  z-index: 1;
}

main {
  @include flex(1 1 100%);

  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include align-items(center);
  @include align-content(center);
  @include justify-content(center);

  z-index: 1;
}

#welcome, #index {
  width: 550px;
}

footer {
  z-index: 1;
}

#welcome {
  text-align: center;
  font-size: 50px;
  p {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input {
    width: 500px;
    padding: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 50px;
    transition: all 0.1s linear;
    &:hover, &:focus {
      background: rgba(255,255,255,0.1);
    }
  }
  button {
    padding: 10px 25px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    // text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    transition: all 0.1s linear;
    border-radius: 25px;
    text-transform: uppercase;
    &:hover, &:focus {
      background: rgba(255,255,255,0.1);
    }
  }
}

.component.background-image {
  .image {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
  }
}

.component.clock {
  text-align: center;
  .time {
    font-size: 150px;
    font-weight: normal;
    letter-spacing: -0.025em;
    margin-bottom: 25px;
  }
  .greeting {
    font-size: 50px;
    letter-spacing: -0.025em;
    line-height: 1.1em;
    .name {
      cursor: default;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select:none;
      -o-user-select:none;
      user-select:none;
    }
  }
}
