<header>
  <section class="left">
    &nbsp;
  </section>
  <section class="center">
    &nbsp;
  </section>
  <section class="right">
    &nbsp;
  </section>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <section class="left">
    &nbsp;
  </section>
  <section class="center">
    &nbsp;
  </section>
  <section class="right">
    &nbsp;
  </section>
</footer>
